<% if post.liked_by?(current_user) %>
	<%= link_to post_likes_path(post.id), method: :delete, remote: true do %>
	<i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
	<%= post.likes.count %>
	<% end %>
<% else %>
	<%= link_to post_likes_path(post.id), method: :post, remote: true do %>
	<i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: #999999;"></i>
	<span style="color: #999999;"><%= post.likes.count %></span>
	<% end %>
<% end %>
