<div class="logo" style="font-size: 96px; text-align: center; color: black; margin-bottom: 20px;">
myLegacy
</div>

<br>
<p style="text-align: center;">
あなたの人生において、大きな影響を与えた言葉はなんですか？<br>
家族・親友からの何気ないひとこと。恩師からの助言。<br>
昨日見たドラマのセリフ。昔に観た映画のワンシーン。<br>
好きな小説に出てくる名言。歴史に名を遺した偉人の格言。<br>
<br>
言葉を知った当初は感動していても、時間が経つにつれて<br>
記憶というものは薄れてゆき、次第にその言葉を忘れてしまいます。<br>
<br>
"Legacy"とは、"遺産"という意味です。<br>
<br>
あなたの人生に影響を与えたその言葉は、あなたのこれまでの歴史の中に眠る財産ともいえます。<br>
その財産をこのサイトに残しましょう。<br>
</p>