<h4 class="deco">AIスコアランキングとは？</h4>

<br>
<p style="text-align: center;">
あなたの投稿した言葉を感情分析AIが読み取り、<br>
前向きな言葉なのか、そうでないのかを判断します。<br><br>
スコアの値は 1.0 から -1.0 まであります。<br>
前向きな言葉であるほど数値が高くなります。<br><br>
※スコアの値はあくまで指標です。言葉の優劣とは関係ありません。<br>
</p>