<div class="center box">

	<%= form_for(@post) do |f| %>

		<h5>編集したい言葉</h5>
		<%= f.text_area :body,
			size: "60x5",
			placeholder:"印象に残った、感動した言葉をここに入力しましょう" %>
			<br>

		<h5>分類</h5>
		<%= f.select :opinion, [
			["書籍（小説、漫画）", "書籍（小説、漫画）"],
			["映像（映画・ドラマ・アニメ）", "映像（映画・ドラマ・アニメ）"],
			["人物（偉人、知人）", "人物（偉人、知人）"],
			["その他"]] %>
			<br>

		<br>
		<%= f.submit "更新する" %>

	<% end %>
</div>