<h4 class="deco">最新の投稿</h4>

<!--====== 投稿内容をパーシャル化 ======-->
<div><%= render "posts/contents", posts: @posts %></div>

<!--====== ページネーション用 ======-->
<div style="text-align: center;"><%= paginate @posts %></div>
