<div style="margin: 50px 100px;">
	<h4 class="deco" style="text-align: center; margin-bottom: 30px;">
		新しく投稿する
	</h4>

<div class="center">

<%= form_with model: @post do |f| %>

	<%= f.text_area :body, size: "100x5", placeholder:"あなたの名言をここに入力しましょう" %><br>

	<p>ジャンル</p>
	<%= f.select :opinion, [
		["書籍（小説、漫画）", "書籍（小説、漫画）"], 
		["映像（映画・ドラマ・アニメ）", "映像（映画・ドラマ・アニメ）"], 
		["人物（偉人、人物）", "人物（偉人、人物）"], 
		["その他"]], 
		include_blank: "選択して下さい" %><br>

	<%= f.submit "投稿する" %>
<% end %>

</div>
</div>
