<div class="center">

<%= form_with model: @post do |f| %>

	<p>新しく投稿　POSTS#NEW</p>
	<%= f.text_area :body, size: "100x5", placeholder:"あなたの名言をここに入力しましょう" %><br>

	<p>注釈</p>
	<%= f.text_field :opinion, size: "100x3" %><br>

	<%= f.submit "投稿する" %>
<% end %>

</div>