/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* ======================== 全体に影響する処理 ======================== */

body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: Roboto, YuGothic, "游ゴシック体"
}

/* ============ サイドバー ============ */

.side-bar{
	min-height: 100vh;
	background-color: #192f60;
	padding: 0;
}

.side-bar ul, ol{
	list-style: none;
	padding: 0;
}

.side-bar li{
	padding: 15px;
	border-bottom: solid 1px #fafafa;
}

.side-bar a{
	text-decoration: none;
	color: #fff;
}

/* 画面左上のロゴにのみ使用 */
.logo{
	font-family: Optima;
	font-weight: 900;
	font-size: 34px;
	color:#fff;
}

/* 画面左上のアイコンにのみ使用 */
.profile{
	margin: 0 auto;
	text-align: center;
}

/* ============ メインバー ============ */

.main-bar{
	position: relative;
	min-height: 100vh;
	background-color: #f1f1f1;
}

/* コンテンツの白枠部分 */
.contents{
	padding: 10px;
	margin: 10px 100px;
	background-color: #ffffff;
	border-radius: 20px;
}

/* new・edit画面の余白 */
.center{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
}

.box{
	background-color: #fff;
	border-radius: 10px;
	width: 500px;
	padding: 20px;
}

.deco {
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    padding-bottom: 15px;
    text-align: center;
}

.deco::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 1px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right, transparent, #000 20%, #000 80%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}

