/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: Roboto, YuGothic, "游ゴシック体"
}

.deco {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
}

.deco::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 1px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right, transparent, #000 20%, #000 80%, transparent);
    background-position: center;
    background-repeat: no-repeat;
}


.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	width: 100%;
	padding: 12px;
	background-color: #90623c;
}

header p{
	margin: 0px;
	text-align: center;
	color: #dec5b0;
	font-weight: 800;
}

.side-bar{
	min-height: 100vh;
	background-color: #192f60;
}

.side-bar ul, ol{
	list-style: none;
	padding: 0;
}

.side-bar li{
	padding: 15px;
	border-bottom: solid 1px #fafafa;
}

.side-bar a{
	text-decoration: none;
	color: #fff;
}

.main-bar{
	position: relative;
	min-height: 100vh;
	background-color: #f1f1f1;
}

.profile{
	margin: 0 auto;
	text-align: center;
}

.contents{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	border-radius: 20px;
}

.center{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateY(0%) translateX(-50%);
}

.field{
	margin-bottom: 20px;
}