/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

header{
	width: 100%;
	padding: 12px;
	background-color: #e0e0e0;
}

header p{
	margin: 0px;
	text-align: center;
}

.side-bar{
	min-height: 100vh;
	background-color: #c0c0c0;
}

.main-bar{
	height: auto;
	background-color: #a0a0a0;
}